<div class="container header-container">
  <div class="header-container">
    <a href="/" class="brand-logo">
      <img src="/img/logo.png" alt="Logo Giáo Xứ Hòa Giang" class="brand-img" />
      <div class="brand-text-group">
        <span class="brand-main">Giáo Xứ Hòa Giang</span>
        <span class="brand-sub">Xứ Đoàn Phê-rô Đoàn Công Quý</span>
      </div>
    </a>
  </div>
  <nav id="main-nav">
    <ul>
      <li><a href="/" data-page="index.html">Trang Chủ</a></li>
      <li>
        <a href="/lich-cong-giao.html" data-page="gio-le.html"
          >Lịch Công Giáo</a
        >
      </li>
      <li><a href="/tin-tuc.html" data-page="tin-tuc.html">Tin Tức</a></li>
      <li><a href="/to-chuc.html" data-page="to-chuc.html">Tổ Chức</a></li>
      <li><a href="/thu-vien.html" data-page="thu-vien.html">Thư Viện</a></li>
      <li><a href="/dong-gop.html" data-page="dong-gop.html">Đóng Góp</a></li>
    </ul>
  </nav>
  <div class="mobile-menu-btn" id="mobile-btn">☰</div>
</div>
